@page "/"

<div class="container">
    <div class="row no-gutters">
        <div class="col">
            <img src="https://storage.googleapis.com/a1aa/image/1IjwtdJrYKbkMZ7z7NRbEHxRO0pIPboMR1frL1n30y602QfTA.jpg" alt="Aerial view of a flooded area with houses submerged in water" class="img-fluid" />
        </div>
        <div class="col">
            <img src="https://storage.googleapis.com/a1aa/image/y027AQkpMnYLOdNsysYyIatcAfEnF3xlDuhuVTb6ZOtz2QfTA.jpg" alt="Heavy snowfall covering a car and street in snow" class="img-fluid" />
        </div>
        <div class="col">
            <img src="https://storage.googleapis.com/a1aa/image/enwupYaIcfvLk08GZNLMMukAvETG3mWXX86Q8HJDPmfUbD9nA.jpg" alt="Forest fire with trees burning intensely" class="img-fluid" />
        </div>
        <div class="col">
            <img src="https://storage.googleapis.com/a1aa/image/GzPfErz3bAycBaQej7QFv0dCflVCsyz6QU22EjwwzQlZbD9nA.jpg" alt="Drought-stricken landscape with a dry tree and cracked soil" class="img-fluid" />
        </div>
        <div class="col">
            <img src="https://storage.googleapis.com/a1aa/image/1SVuaNeZnywnOqpC2l1x4OzR7unJQ7yURjOoJxjD9fAlthenA.jpg" alt="Tornado funnel cloud touching the ground" class="img-fluid" />
        </div>
    </div>
</div>

@code {
    // Any additional C# code can go here.
}
