/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background-color: forestgreen;
    padding: 10px;
    border: none;
}

.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3Csvg...%3C/svg%3E") no-repeat center/1.75rem forestgreen;
}

    .navbar-toggler:checked {
        background-color: forestgreen;
    }

.top-row {
    height: 3.5rem;
    background-color: forestgreen;
}

.navbar-brand {
    font-size: 1.1rem;
}

.bi {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: darkgreen;
            color: white;
        }

        .nav-item ::deep a:hover {
            background-color: limegreen;
            color: white;
        }

.nav-scrollable {
    display: none;
    background-color: forestgreen;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        display: block;
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
