/* Global Styles for Survival Guidelines */
body {
    font-family: 'Arial', sans-serif;
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #2c3e50;
    background-color: forestgreen; /* Green background */
    padding: 10px; /* Add padding for better spacing */
    color: white; /* White text for contrast */
    border: none; /* Remove any border */
}

/* Card styling */
.card {
    border-radius: 0px; /* No rounding of corners */
}

.card-body {
    text-align: center;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #ccc;
}

/* Responsive Design */
@media (max-width: 576px) {
    .card {
        margin-bottom: 20px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .card {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .card {
        margin-bottom: 30px;
    }
}

@media (min-width: 992px) {
    .card {
        margin-bottom: -19px;
    }
}
